.notfoundpage {
  display: flex;
  flex-direction: column;

  align-items: center;
  height: 92vh;
}
.imagenotfound {
  width: 65%;
  height: 90%;
}
.buttonnotfound {
  background-color: #87cefa;
  color: white;
  border: none;
  width: 200px;
  height: 50px;
  border-radius: 20px;
}
.buttonnotfound:hover {
  background-color: #1e90ff;
  outline: auto;
}
