.homeimage {
  width: 50%;
  height: 60%;
}
.maincontainer {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 100vh;
}
.subhomecontainer {
  width: 500px;
}
.knowmorebutton {
  background-color: #87cefa;
  color: white;
  padding: 15px;
  border: none;
  border-radius: 20px;
}
.knowmorebutton:hover {
  background-color: #1e90ff;
  outline: auto;
}
