.liststyle {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ulstyling {
  width: 400px;
}
.maincontainerforcontact {
  width: 50vw;
  display: flex;
  justify-content: center;
  padding-top: 250px;
}
.forms {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
