.menu-list {
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
}
.link-decoration {
  text-decoration: none;
  color: black;
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 19px;
  background-color: #87cefa;
  height: 7vh;
  align-items: center;
  margin-bottom: 20px;
}
.menucontainer {
  width: 40%;
}

@media (max-width: 700px) {
  .menu-list {
    display: none;
  }
}
